version: "3.8"

services:
  date-annotator:
    image: docker.synapse.org/syn22277123/date-annotator-example:1.1.2
    container_name: date-annotator
    restart: always
    networks:
      - nlpsandbox-internal

  person-name-annotator:
    image: docker.synapse.org/syn22277123/person-name-annotator-example:1.1.2
    container_name: person-name-annotator
    restart: always
    networks:
      - nlpsandbox-internal

  physical-address-annotator:
    image: docker.synapse.org/syn22277123/location-annotator-example:1.2.0
    container_name: physical-address-annotator
    restart: always
    networks:
      - nlpsandbox-internal

  contact-annotator:
    image: docker.synapse.org/syn22277123/contact-annotator-example:1.1.2
    container_name: contact-annotator
    restart: always
    networks:
      - nlpsandbox-internal

  id-annotator:
    image: docker.synapse.org/syn22277123/id-annotator-example:1.1.2
    container_name: id-annotator
    restart: always
    networks:
      - nlpsandbox-internal
    
  phi-deidentifier:
    image: nlpsandbox/phi-deidentifier:1.1.0
    container_name: phi-deidentifier
    restart: always
    environment:
      - DATE_ANNOTATOR_HOST=date-annotator
      - DATE_ANNOTATOR_PORT=8080
      - PERSON_NAME_ANNOTATOR_HOST=person-name-annotator
      - PERSON_NAME_ANNOTATOR_PORT=8080
      - PHYSICAL_ADDRESS_ANNOTATOR_HOST=physical-address-annotator
      - PHYSICAL_ADDRESS_ANNOTATOR_PORT=8080
      - CONTACT_ANNOTATOR_HOST=contact-annotator
      - CONTACT_ANNOTATOR_PORT=8080
      - ID_ANNOTATOR_HOST=id-annotator
      - ID_ANNOTATOR_PORT=8080
    networks:
      - nlpsandbox-internal
    depends_on:
      - date-annotator
      - person-name-annotator
      - physical-address-annotator

  phi-deidentifier-app:
    image: nlpsandbox/phi-deidentifier-app:1.1.0
    build:
      context: client
      dockerfile: Dockerfile
    container_name: phi-deidentifier-app
    environment:
      - SERVER_PORT=${SERVER_PORT}
      - SERVER_PROTOCOL=${SERVER_PROTOCOL}
      - SERVER_HOST=${SERVER_HOST}
      - SERVER_API_PATH=${SERVER_API_PATH}
    restart: always
    networks:
      - nlpsandbox-internal
    depends_on:
      - phi-deidentifier

  nginx:
    image: nginx:1.19.6-alpine
    container_name: nginx
    restart: always
    environment:
      - SERVER_HOST=phi-deidentifier
      - SERVER_PORT=8080
      - CLIENT_HOST=phi-deidentifier-app
      - CLIENT_PORT=80
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/templates:/etc/nginx/templates:ro
    networks:
      - nlpsandbox
      - nlpsandbox-internal
    ports:
      - "80:80"
    depends_on:
      - phi-deidentifier-app

networks:
  nlpsandbox:
  nlpsandbox-internal:
    internal: true
